.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: red;
 }

.titleclass {
  background-color: rgb(228, 226, 226);
  text-align: left;
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  justify-items: center;
}

.nav_links a{
  margin: 10px;
  text-decoration: none;
  color: red;
  font-size: large;
}

.textareastyle {
  margin-left: 10px;
  width: 450px;
  height: 100px;
  margin: auto;
}

input {
  margin-left: 10px;
}

.formdiv {
  width: 50%;
  margin: auto;
  border: 1px solid black;
}

.toppingdiv {
  display: flex;
  flex-direction: row;
}

button {
  width: 90px;
  height: 40px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.pizza_image {
  width: 100%;
}

.order_card {
  border: 1 px solid red;
  border-radius: 10px;
}